version: '3.8'

services:
  app:
    build: .
    container_name: sentiment-app
    ports:
      - "5001:5001"
    volumes:
      - ./src:/app/src
      - ./models:/app/models
    environment:
      - MODEL_PATH=/app/models

  prometheus:
    image: prom/prometheus:v2.47.2
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus:/etc/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'

  grafana:
    image: grafana/grafana:10.1.5
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
    depends_on:
      - prometheus

networks:
  default:
    name: monitoring-net